body {
  margin: 0px;
  padding: 0px;
}

header {
  height: 40px;
  background-color: #420409a1;
}
header article {
  height: 15%;
}
header article .left {
  width: 50%;

  display: inline-block;
}
header article .left nav {
  display: inline-block;
}

header article .left nav a {
  color: darkorange;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 300;
  font-size: 20px;
}
header article .right {
  width: 50%;
  height: 15%;
  float: right;
}
header article .right .logo {
  text-decoration: none;
  color: darkorange;
  font-weight: 300;
  font-size: 24px;
}
header article .right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 1%;
  margin-bottom: 0px;
}

header article .right ul li a {
  text-decoration: none;
  color: darkgoldenrod;
}

footer {
  height: 10%;
  background-color: grey;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 0;
}
footer ul li a {
  display: inline-block;
  margin-left: 24%;
  margin-top: 2%;
  text-decoration: none;
  color: snow;
  font-size: 30px;
}
