body {
  margin: 0px;
  padding: 0px;
}

header nav {
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
}

header nav a {
  color: darkorange;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 300;
  font-size: 20px;
}

header .logo {
  margin-left: 70%;
  text-decoration: none;
  color: goldenrod;
  font-weight: 300;
  font-size: 24px;
}

footer {
  height: 8vh;
  background-color: grey;
  margin-top: 3%;
}

footer a {
  display: inline-block;
  margin-left: 24%;
  margin-top: 2%;
  text-decoration: none;
  color: snow;
  font-size: 30px;
}

main .register {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}

main .register .top h3 {
  text-align: center;
  font-weight: bold;
}

main .register .bottom {
  display: grid;
  grid-template-columns: 1fr;
}
